@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transform($trans) {
	-webkit-transform: $trans;
	-moz-transform: $trans;
	-ms-transform: $trans;
	transform: $trans;
}

@mixin transition($anim) {
	-webkit-transition: $anim;
	-moz-transition: $anim;
	-ms-transition: $anim;
	transition: $anim;
}

@mixin perspective($persp) {
	-webkit-perspective: $persp;
	perspective: $persp;
}

@mixin transform-style ($style) {
	-webkit-transform-style: $style;
	transform-style: $style;
}

@mixin backface-visibility($vis) {
	-webkit-backface-visibility: $vis;
	backface-visibility: $vis;
}

@mixin flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}